<mddoc>

	<docpage target="README.md" autoloader="psr4" autoloader-root="src" autoloader-root-namespace="Corpus\Di">

		<section title="Corpus Di">
			<badge-poser type="version"/>
			<badge-poser type="license"/>
			<badge-github-action name="CorpusPHP/Di" workflow="CI"/>
			<badge-scrutinizer name="CorpusPHP/Di" type="quality"/>
			<text>A Simple PSR-11 Complaint Di Container</text>
			<section title="Requirements">
				<composer-requires/>
			</section>
			<section title="Installing">
				<composer-install/>
			</section>
			<section title="Usage">
				<text>Getting started with Di the three most important methods follow.
- The `set` method is used to set either the item to return or a lambda to lazily construct it, optionally taking constructor arguments.
- The `get` method is used to retrieve values with memoization after the initial lazy loading.
- The `getNew` is used to invoke the lazy loading creation lambda every call, optionally taking an array of constructor arguments as a second parameter.</text>
				<source name="example/example.php" lang="php"/>
			</section>
			<section title="Documentation">
				<file name="src/Di.php"/>
				<file name="src/Exceptions/UndefinedIdentifierException.php"/>
			</section>
		</section>
	</docpage>
</mddoc>